<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/styles.css">

    </head>
    <body>
        <h1> The price of {{name}}</h1>
        <h1> is {{metrics}}</h1>
        <h1> Okay this had better work</h1>
    </body>
</html>